html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.sous-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



.cercle {
    border: 1px solid indianred;
    width: 10%;
    height: 15rem;
    border-radius: 240px;
}

.cube {
    border: 1px solid indianred;
    width: 10%;
    height: 15rem;
}

.losange {
    border: 1px solid indianred;
    width: 10%;
    transform: rotate(45deg);
}

.plein {
    background: indianred;
}

.vide {
    background: none;
}